.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content {
  background: #fff;
  width: 700px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 99vh;
  overflow: hidden;
}

.modal-content h2 {
  padding: 18px;
  margin: 0px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #007bff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-form {
  padding: 25px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 80vh;
  padding: 32px;
}

.modal-form input,
.modal-form select,
.modal-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.modal-form input:focus,
.modal-form select:focus,
.modal-form textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top: 2px solid #ddd;
  background: #f9f9f9;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.modal-buttons button[type="submit"] {
  padding: 14px 22px;
  background: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-buttons button[type="submit"]:hover {
  background: #0056b3;
}

.modal-buttons button[type="button"] {
  padding: 14px 22px;
  background: #e0e0e0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-buttons button[type="button"]:hover {
  background: #d6d6d6;
}

.error-message {
  color: red;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background: #f8d7da;
  font-weight: bold;
}
