.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  background-color: #333;
  color: white;
  position: relative;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.navbar-links a, .profile-btn {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links a:hover, .profile-btn:hover {
  text-decoration: underline;
}

.profile-container {
  position: relative;
}

.profile-btn {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1.3rem;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 230px;
  text-align: left;
  overflow: hidden;
  margin-top: 3%;
  z-index: 100;
}

.profile-dropdown ul {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  list-style: none;
}

.profile-dropdown ul:hover {
  background-color: #f0f0f0;
}
